---
title: "Bad Examples: 3.2.1 On Focus - Accessibility Tooling Test Pages"
description: A collection of bad examples for situations applicable to WCAG SC 3.2.1 On Focus, to be used for checking for false negatives from automated accessibility tools.
layout: default
---

<h1>3.2.1 On Focus - Level A: Bad</h1>

<!-- TODO: add examples -->
