---
title: "Bad Examples: 1.4.12 Text Spacing - Accessibility Tooling Test Pages"
description: A collection of bad examples for situations applicable to WCAG SC 1.4.12 Text Spacing, to be used for checking for false negatives from automated accessibility tools.
layout: default
---

<h1>1.4.12 Text Spacing - Level AA: Bad</h1>

<!-- TODO: add examples -->
