---
title: "Bad Examples: 1.3.4 Orientation - Accessibility Tooling Test Pages"
description: A collection of bad examples for situations applicable to WCAG SC 1.3.4 Orientation, to be used for checking for false negatives from automated accessibility tools.
layout: default
---

<h1>1.3.4 Orientation - Level AA: Bad</h1>

<!-- TODO: add examples -->
