---
title: "Good Examples: 3.2.3 Consistent Navigation - Accessibility Tooling Test Pages"
description: A collection of good examples for situations applicable to WCAG SC 3.2.3 Consistent Navigation, to be used for checking for false positives from automated accessibility tools.
layout: default
---

<h1>3.2.3 Consistent Navigation - Level AA: Good</h1>

<!-- TODO: add examples -->
