---
title: "Good Examples: 1.3.2 Meaningful Sequence - Accessibility Tooling Test Pages"
description: A collection of good examples for situations applicable to WCAG SC 1.3.2 Meaningful Sequence, to be used for checking for false positives from automated accessibility tools.
layout: default
---

<h1>1.3.2 Meaningful Sequence - Level A: Good</h1>

<!-- TODO: add examples -->
