---
title: "Good Examples: 2.4.8 Location - Accessibility Tooling Test Pages"
description: A collection of good examples for situations applicable to WCAG SC 2.4.8 Location, to be used for checking for false positives from automated accessibility tools.
layout: default
---

<h1>2.4.8 Location - Level AAA: Good</h1>

<!-- TODO: add examples -->
