---
title: "Good Examples: 1.3.5 Identify Input Purpose - Accessibility Tooling Test Pages"
description: A collection of good examples for situations applicable to WCAG SC 1.3.5 Identify Input Purpose, to be used for checking for false positives from automated accessibility tools.
layout: default
---

<h1>1.3.5 Identify Input Purpose - Level AA: Good</h1>

<!-- TODO: add examples -->
