---
title: "Bad Examples: 3.3.1 Error Identication - Accessibility Tooling Test Pages"
description: A collection of bad examples for situations applicable to WCAG SC 3.3.1 Error Identication, to be used for checking for false negatives from automated accessibility tools.
layout: default
---

<h1>3.3.1 Error Identication - Level A: Bad</h1>

<!-- TODO: add examples -->
