---
title: "Good Examples: 2.1.4 Character Key Shortcuts - Accessibility Tooling Test Pages"
description: A collection of good examples for situations applicable to WCAG SC 2.1.4 Character Key Shortcuts, to be used for checking for false positives from automated accessibility tools.
layout: default
---

<h1>2.1.4 Character Key Shortcuts - Level A: Good</h1>

<!-- TODO: add examples -->
