---
title: "Good Examples: 3.3.8 Accessible Authentication (Minimum) - Accessibility Tooling Test Pages"
description: A collection of good examples for situations applicable to WCAG SC 3.3.8 Accessible Authentication (Minimum), to be used for checking for false positives from automated accessibility tools.
layout: default
---

<h1>3.3.8 Accessible Authentication (Minimum) - Level AA: Good</h1>

<!-- TODO: add examples -->
