---
title: "Good Examples: 3.2.5 Change on Request - Accessibility Tooling Test Pages"
description: A collection of good examples for situations applicable to WCAG SC 3.2.5 Change on Request, to be used for checking for false positives from automated accessibility tools.
layout: default
---

<h1>3.2.5 Change on Request - Level AAA: Good</h1>

<!-- TODO: add examples -->
