---
title: "Good Examples: 1.4.2 Audio Control - Accessibility Tooling Test Pages"
description: A collection of good examples for situations applicable to WCAG SC 1.4.2 Audio Control, to be used for checking for false positives from automated accessibility tools.
layout: default
---

<h1>1.4.2 Audio Control - Level A: Good</h1>

<!-- TODO: add examples -->
