---
title: "Good Examples: 4.1.2 Name, Role, Value - Accessibility Tooling Test Pages"
description: A collection of good examples for situations applicable to WCAG SC 4.1.2 Name, Role, Value, to be used for checking for false positives from automated accessibility tools.
layout: default
---

<h1>4.1.2 Name, Role, Value - Level A: Good</h1>

<!-- TODO: add examples -->
